.DS_Store
/.idea

/*.o
/*.d
/rs

/DATA/*.INS
/DATA/*.CMD
/DATA/*.POL
/DATA/*.MID
/DATA/*.PRF
/DATA/*.BIN
/DATA/*.TXT
/DATA/*.MAP
/DATA/*.ANI
/DATA/*.BNQ
/DATA/*.CT
/DATA/*.LEV
/DATA/*.MBK
/DATA/*.OBJ
/DATA/*.PAL
/DATA/*.PGE
/DATA/*.RP
/DATA/*.SGD
/DATA/*.TBN
/DATA/*.ADL
/DATA/*.FNT
/DATA/*.FIB
/DATA/*.ICN
/DATA/*.SPC
/DATA/*.OFF
/DATA/*.SPR
/DATA/*.PAK
/DATA/mod.flashback*

/Flashback.app/Contents/MacOS/rs
/Flashback.app/Contents/libs/*.dylib
/Flashback.app/Contents/Resources/rs.cfg
/Flashback.app/Contents/Resources/DATA
/Flashback.app/Contents/Resources/*.shader

/cmake-build-debug
/libs
